.root {
  display: flex;
  flex-flow: column;
  row-gap: var(--gap);
  padding-block: var(--padding-block-start) var(--padding-block-end);
  padding-inline: var(--padding-global-extend);

  @media (width >= 120rem) {
    padding-inline: var(--max-size-container-extend);
  }

  @media (width >= 64rem) {
    --padding-block-start: 6.4rem;
    --padding-block-end: 4rem;
    --gap: 3.2rem;

    max-inline-size: 75vw;
    margin: 0 auto;
    text-align: center;
  }

  @media (width < 64rem) {
    --padding-block-start: 3.2rem;
    --padding-block-end: 0rem;
    --gap: 2rem;
  }
}
