.root {
  --transition-duration: 0.15s;

  max-inline-size: fit-content;

  &:where([data-variant='underline']) {
    --color-hover: var(--color-dark-red);
    --underline-color: var(--color-border);

    color: var(--color-text);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--underline-color);
    text-underline-offset: var(--underline-offset);
    transition: text-decoration-color var(--transition-duration) linear;

    &:where([data-size='md']) {
      --underline-offset: 0.7rem;
    }

    &:where([data-size='sm']) {
      --underline-offset: 0.5rem;
    }

    &:where([data-color='grayed']) {
      --underline-color: var(--color-gray-medium);
    }

    &:where(:hover) {
      @media (any-hover: hover) {
        text-decoration-color: var(--color-hover);
      }
    }

    &:where(:focus-visible, :active) {
      text-decoration-color: var(--color-hover);
    }
  }

  &:where([data-variant='animated-underline']),
  &:where([data-variant='animated-underline-reverse']) {
    --underline-thickness: 0.1rem;

    padding-block: 0.2rem;
    background-image: linear-gradient(currentcolor, currentcolor);
    background-repeat: no-repeat;
    background-position: bottom 0 var(--background-position-initial) 100%;
    background-size: var(--background-size-initial) var(--underline-thickness);

    @media (prefers-reduced-motion: no-preference) {
      transition: color var(--transition-duration) linear,
        background-size 0.3s ease-out;
    }

    &:where(:hover) {
      @media (any-hover: hover) {
        background-position: bottom 0 var(--background-position-hover) 100%;
        background-size: var(--background-size-hover) var(--underline-thickness);
      }
    }

    &:where(:is(:focus-visible, :active)) {
      background-position: bottom 0 var(--background-position-hover) 100%;
      background-size: var(--background-size-hover) var(--underline-thickness);
    }
  }

  &:where([data-variant='animated-underline']) {
    --background-position-initial: left;
    --background-size-initial: 0%;
    --background-position-hover: right;
    --background-size-hover: 100%;
  }

  &:where([data-variant='animated-underline-reverse']) {
    --background-position-initial: right;
    --background-size-initial: 100%;
    --background-position-hover: left;
    --background-size-hover: 0%;
  }
}
