.root {
  display: grid;
  grid-template-areas: 'badges badges' 'title title' 'left right';
  grid-template-columns: minmax(0, 1fr) auto;
  grid-auto-columns: 100%;
  gap: 1.2rem;

  @media (width < 64rem) {
    order: -1;
  }
}

.badges {
  --min-height-tags: 2.4rem;

  grid-area: badges;

  @media (width < 64rem) {
    margin-block-end: 0.4rem;
  }

  @media (width >= 64rem) {
    block-size: var(--min-height-tags);
  }
}

.title {
  grid-area: title;
}

.left {
  display: inline-flex;
  grid-column: left;
  column-gap: 0.4rem;
  align-items: baseline;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column: right;
  column-gap: 0.8rem;
  align-items: center;

  & svg {
    inline-size: 12px;
    block-size: 12px;
    fill: var(--color-dark, #272724);
  }

  & a {
    text-decoration: underline;
  }
}
