.root {
  display: flex;
  flex-direction: column;
  padding-block: var(--padding-block-start) var(--padding-block-end);
  padding-inline: var(--padding-global-extend);

  @media (width >= 120rem) {
    padding-inline: var(--max-size-container-extend);
  }

  @media (width >= 64rem) {
    --padding-block-start: 4rem;
    --padding-block-end: 6.4rem;
  }

  @media (width < 64rem) {
    --padding-block-start: 3.2rem;
    --padding-block-end: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: var(--grid-gutter);

  @media (width >= 64rem) {
    --grid-columns: repeat(3, minmax(0, 1fr));
  }

  @media (width < 64rem) {
    --grid-columns: minmax(0, 1fr);
  }
}

.button {
  align-self: center;
  margin-block-start: var(--margin-top);
  border: 1px solid var(--color-border);

  @media (width >= 64rem) {
    --margin-top: 4.8rem;
  }

  @media (width < 64rem) {
    --margin-top: 3.2rem;
  }

  &:where(:hover:not([aria-disabled='true'])) {
    @media (any-hover: hover) {
      --bg-color: var(--color-dark);
      --text-color: var(--color-light);
    }
  }
}
