.root {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-block);
  padding-block-start: var(--padding-block);
  padding-inline: var(--padding-global-extend);

  @media (width >= 120rem) {
    padding-inline: var(--max-size-container-extend);
  }

  @media (width >= 64rem) {
    --padding-block: 6.4rem;
    --row-gap-content: 2.4rem;
  }

  @media (width < 64rem) {
    --padding-block: 3.2rem;
    --row-gap-content: 1.6rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--row-gap-content) var(--grid-gutter);

  & > * {
    @media (width >= 64rem) {
      grid-column: span 2;
    }

    @media (width < 64rem) {
      grid-column: 1 / -1;
    }
  }
}
