.root {
  display: grid;
  padding-block: var(--padding-block-start) var(--padding-block-end);
  padding-inline: var(--padding-global-extend);

  @media (width >= 120rem) {
    padding-inline: var(--max-size-container-extend);
  }

  @media (width >= 64rem) {
    --padding-block-start: 6.4rem;
    --padding-block-end: 3.2rem;

    grid-template-areas:
      'title .'
      'text link'
      'articles articles';
    grid-template-columns: minmax(0, 1fr) max-content;
    column-gap: var(--grid-gutter);
  }

  @media (width < 64rem) {
    --padding-block-start: 3.2rem;
    --padding-block-end: 4.8rem;
  }
}

.title {
  @media (width >= 64rem) {
    grid-area: title;
    max-inline-size: 35ch;
  }
}

.text {
  @media (width >= 64rem) {
    grid-area: text;
    max-inline-size: 70ch;
  }
}

.link {
  @media (width >= 64rem) {
    grid-area: link;
    align-self: end;
  }
}

.text,
.link {
  margin-block-start: 1.6rem;
}

.articles {
  display: grid;
  margin-block-start: var(--margin-articles);

  @media (width >= 64rem) {
    --margin-articles: 4rem;

    grid-area: articles;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: var(--grid-gutter);
  }

  @media (width < 64rem) {
    --margin-articles: 3.2rem;

    row-gap: 0.8rem;
  }
}
