.root {
  grid-column: var(--grid-column);

  @media (width >= 64rem) {
    --grid-column: 2 / -2;
  }

  @media (width < 64rem) {
    --grid-column: 1 / -1;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap);

  @media (width >= 64rem) {
    --row-gap: 1.2rem;
  }

  @media (width < 64rem) {
    --row-gap: 0.8rem;
  }
}

.image-wrapper {
  inline-size: 100%;
  aspect-ratio: 1;
  overflow: clip;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}
